@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary: #1d4ed8;
  --gray-300: #a3a9b6;
  --gray-100: #e0e2e7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;

  font-family: "Poppins", sans-serif;
}

main {
  width: 90%;
  margin: 32px auto;
}

product-list {
  margin-top: 2rem;
  width: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  gap: 1rem;
}

@media screen and (min-width: 720px) {
  main {
    width: 60%;
    margin: 32px auto;
  }
}
